<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>A-4 Member Introducing</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: UpConstruction
  * Updated: Mar 10 2023 with Bootstrap v5.2.3
  * Template URL: https://bootstrapmade.com/upconstruction-bootstrap-construction-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>A4<span>.</span></h1>
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="index.html" class="active">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li class="dropdown"><a href="#"><span>Dropdown</span> <i
                class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="#">Dropdown 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Dropdown</span> <i
                    class="bi bi-chevron-down dropdown-indicator"></i></a>
                <ul>
                  <li><a href="#">Deep Dropdown 1</a></li>
                  <li><a href="#">Deep Dropdown 2</a></li>
                  <li><a href="#">Deep Dropdown 3</a></li>
                  <li><a href="#">Deep Dropdown 4</a></li>
                  <li><a href="#">Deep Dropdown 5</a></li>
                </ul>
              </li>
              <li><a href="#">Dropdown 2</a></li>
              <li><a href="#">Dropdown 3</a></li>
              <li><a href="#">Dropdown 4</a></li>
            </ul>
          </li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero">

    <div class="info d-flex align-items-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6 text-center">
            <h2 data-aos="fade-down">Group A-4<Br><span>Member Introducing</span></h2>
            <p data-aos="fade-up">여기는 유일한 예술의 조. 남들과는 비교되는 것이 실례.</p>
            <p data-aos="fade-up">유일무이한 취미로 모인만큼 모두가 개성있고 도도한 멤버들로만 모여있다.</p>
            <a data-aos="fade-up" data-aos-delay="200" href="#get-started" class="btn-get-started">지금 시작</a>
          </div>
        </div>
      </div>
    </div>

    <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">
          <div class="carousel-item active" style="background-image: url(assets/img/A4.png)"></div>
          <div class="carousel-item" style="background-image: url(assets/img/배경2.jpg)"></div>
          <div class="carousel-item" style="background-image: url(assets/img/배경3.jpg)"></div>
          <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
              <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
          </a>
          <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
              <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
          </a>
      </div>

  </section>
  <!-- End Hero Section -->

  <main id="main">

    <!-- ======= Get Started Section ======= -->
    <section id="get-started" class="get-started section-bg">
      <div class="container">

        <div class="row justify-content-between gy-4">

          <div class="col-lg-12 d-flex align-items-center" data-aos="fade-up" data-aos-delay="500">
            <div class="content">
              <h3>프로젝트 개요</h3>
              <p>Rem id rerum. Debitis deserunt quidem delectus expedita ducimus dolor. Aut iusto ipsa. Eos ipsum nobis
                ipsa soluta itaque perspiciatis fuga ipsum perspiciatis. Eum amet fugiat totam nisi possimus ut delectus
                dicta.
              <p>Aliquam velit deserunt autem. Inventore et saepe. Tenetur suscipit eligendi labore culpa eos. Deserunt
                porro magni qui necessitatibus dolorem at animi cupiditate.</p>
            </div>
          </div>
        </div>

      </div>
    </section>
    <!-- End Get Started Section -->

    <section>
      <div class="section-header" data-aos="fade-up" id="a4member">
        <h2>멤버 소개</h2>
        <p>개성있고 도도한 멤버들을 소개합니다</p>
      </div>

      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
      <div class="container">
        <div class="row" data-aos="fade-left" data-aos-delay="800">
          <div class="col-md-4">
            <div class="card user-card">
              <div class="card-header">
                <h5>Profile</h5>
                <a href="service-details.html" class="readmore stretched-link">Learn more <i
                    class="bi bi-arrow-right"></i></a>
              </div>
              <div class="card-block">
                <div class="user-image">
                  <img src="https://bootdey.com/img/Content/avatar/avatar7.png" class="img-radius"
                    alt="User-Profile-Image">
                </div>
                <h6 class="f-w-600 m-t-25 m-b-10">Alessa Robert</h6>
                <p class="text-muted">Active | Male | Born 23.05.1992</p>
                <hr>
                <p class="text-muted m-t-15">Activity Level: 87%</p>
                <ul class="list-unstyled activity-leval">
                  <li class="active"></li>
                  <li class="active"></li>
                  <li class="active"></li>
                  <li></li>
                  <li></li>
                </ul>
                <div class="bg-c-blue counter-block m-t-10 p-20">
                  <div class="row">
                    <div class="col-4">
                      <i class="fa fa-comment"></i>
                      <p>1256</p>
                    </div>
                    <div class="col-4">
                      <i class="fa fa-user"></i>
                      <p>8562</p>
                    </div>
                    <div class="col-4">
                      <i class="fa fa-suitcase"></i>
                      <p>189</p>
                    </div>
                  </div>
                </div>
                <p class="m-t-15 text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </p>
                <hr>
                <div class="row justify-content-center user-social-link">
                  <div class="col-auto"><a href="#!"><i class="fa fa-facebook text-facebook"></i></a></div>
                  <div class="col-auto"><a href="#!"><i class="fa fa-twitter text-twitter"></i></a></div>
                  <div class="col-auto"><a href="#!"><i class="fa fa-dribbble text-dribbble"></i></a></div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card user-card">
              <div class="card-header">
                <h5>Profile</h5>
                <a href="service-details.html" class="readmore stretched-link">Learn more <i
                    class="bi bi-arrow-right"></i></a>
              </div>
              <div class="card-block">
                <div class="user-image">
                  <img src="https://bootdey.com/img/Content/avatar/avatar6.png" class="img-radius"
                    alt="User-Profile-Image">
                </div>
                <h6 class="f-w-600 m-t-25 m-b-10">Alessa Robert</h6>
                <p class="text-muted">Active | Male | Born 23.05.1992</p>
                <hr>
                <p class="text-muted m-t-15">Activity Level: 87%</p>
                <ul class="list-unstyled activity-leval">
                  <li class="active"></li>
                  <li class="active"></li>
                  <li class="active"></li>
                  <li></li>
                  <li></li>
                </ul>
                <div class="bg-c-green counter-block m-t-10 p-20">
                  <div class="row">
                    <div class="col-4">
                      <i class="fa fa-comment"></i>
                      <p>1256</p>
                    </div>
                    <div class="col-4">
                      <i class="fa fa-user"></i>
                      <p>8562</p>
                    </div>
                    <div class="col-4">
                      <i class="fa fa-suitcase"></i>
                      <p>189</p>
                    </div>
                  </div>
                </div>
                <p class="m-t-15 text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </p>
                <hr>
                <div class="row justify-content-center user-social-link">
                  <div class="col-auto"><a href="#!"><i class="fa fa-facebook text-facebook"></i></a></div>
                  <div class="col-auto"><a href="#!"><i class="fa fa-twitter text-twitter"></i></a></div>
                  <div class="col-auto"><a href="#!"><i class="fa fa-dribbble text-dribbble"></i></a></div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card user-card">
              <div class="card-header">
                <h5>Profile</h5>
                <a href="service-details.html" class="readmore stretched-link">Learn more <i
                    class="bi bi-arrow-right"></i></a>
              </div>
              <div class="card-block">
                <div class="user-image">
                  <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="img-radius"
                    alt="User-Profile-Image">
                </div>
                <h6 class="f-w-600 m-t-25 m-b-10">Alessa Robert</h6>
                <p class="text-muted">Active | Male | Born 23.05.1992</p>
                <hr>
                <p class="text-muted m-t-15">Activity Level: 87%</p>
                <ul class="list-unstyled activity-leval">
                  <li class="active"></li>
                  <li class="active"></li>
                  <li class="active"></li>
                  <li></li>
                  <li></li>
                </ul>
                <div class="bg-c-yellow counter-block m-t-10 p-20">
                  <div class="row">
                    <div class="col-4">
                      <i class="fa fa-comment"></i>
                      <p>1256</p>
                    </div>
                    <div class="col-4">
                      <i class="fa fa-user"></i>
                      <p>8562</p>
                    </div>
                    <div class="col-4">
                      <i class="fa fa-suitcase"></i>
                      <p>189</p>
                    </div>
                  </div>
                </div>
                <p class="m-t-15 text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </p>
                <hr>
                <div class="row justify-content-center user-social-link">
                  <div class="col-auto"><a href="#!"><i class="fa fa-facebook text-facebook"></i></a></div>
                  <div class="col-auto"><a href="#!"><i class="fa fa-twitter text-twitter"></i></a></div>
                  <div class="col-auto"><a href="#!"><i class="fa fa-dribbble text-dribbble"></i></a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" data-aos="fade-right" data-aos-delay="400">
          <div class="col-md-6">
            <div class="card user-card">
              <div class="card-header">
                <h5>Profile</h5>
                <a href="service-details.html" class="readmore stretched-link">Learn more <i
                    class="bi bi-arrow-right"></i></a>
              </div>
              <div class="card-block">
                <div class="user-image">
                  <img src="https://bootdey.com/img/Content/avatar/avatar7.png" class="img-radius"
                    alt="User-Profile-Image">
                </div>
                <h6 class="f-w-600 m-t-25 m-b-10">Alessa Robert</h6>
                <p class="text-muted">Active | Male | Born 23.05.1992</p>
                <hr>
                <p class="text-muted m-t-15">Activity Level: 87%</p>
                <ul class="list-unstyled activity-leval">
                  <li class="active"></li>
                  <li class="active"></li>
                  <li class="active"></li>
                  <li></li>
                  <li></li>
                </ul>
                <div class="bg-c-blue counter-block m-t-10 p-20">
                  <div class="row">
                    <div class="col-4">
                      <i class="fa fa-comment"></i>
                      <p>1256</p>
                    </div>
                    <div class="col-4">
                      <i class="fa fa-user"></i>
                      <p>8562</p>
                    </div>
                    <div class="col-4">
                      <i class="fa fa-suitcase"></i>
                      <p>189</p>
                    </div>
                  </div>
                </div>
                <p class="m-t-15 text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </p>
                <hr>
                <div class="row justify-content-center user-social-link">
                  <div class="col-auto"><a href="#!"><i class="fa fa-facebook text-facebook"></i></a></div>
                  <div class="col-auto"><a href="#!"><i class="fa fa-twitter text-twitter"></i></a></div>
                  <div class="col-auto"><a href="#!"><i class="fa fa-dribbble text-dribbble"></i></a></div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="card user-card">
              <div class="card-header">
                <h5>Profile</h5>
                <a href="service-details.html" class="readmore stretched-link">Learn more <i
                    class="bi bi-arrow-right"></i></a>
              </div>
              <div class="card-block">
                <div class="user-image">
                  <img src="https://bootdey.com/img/Content/avatar/avatar6.png" class="img-radius"
                    alt="User-Profile-Image">
                </div>
                <h6 class="f-w-600 m-t-25 m-b-10">Alessa Robert</h6>
                <p class="text-muted">Active | Male | Born 23.05.1992</p>
                <hr>
                <p class="text-muted m-t-15">Activity Level: 87%</p>
                <ul class="list-unstyled activity-leval">
                  <li class="active"></li>
                  <li class="active"></li>
                  <li class="active"></li>
                  <li></li>
                  <li></li>
                </ul>
                <div class="bg-c-green counter-block m-t-10 p-20">
                  <div class="row">
                    <div class="col-4">
                      <i class="fa fa-comment"></i>
                      <p>1256</p>
                    </div>
                    <div class="col-4">
                      <i class="fa fa-user"></i>
                      <p>8562</p>
                    </div>
                    <div class="col-4">
                      <i class="fa fa-suitcase"></i>
                      <p>189</p>
                    </div>
                  </div>
                </div>
                <p class="m-t-15 text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </p>
                <hr>
                <div class="row justify-content-center user-social-link">
                  <div class="col-auto"><a href="#!"><i class="fa fa-facebook text-facebook"></i></a></div>
                  <div class="col-auto"><a href="#!"><i class="fa fa-twitter text-twitter"></i></a></div>
                  <div class="col-auto"><a href="#!"><i class="fa fa-dribbble text-dribbble"></i></a></div>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>

    </section>

    <!-- ======= Comment Section ======= -->
    <!-- Comment POST 함수입니다. 아래 form에서 받아온 값들을 POST하고 백엔드(/comment)에서는 이를 DB에 저장하는 과정을 수행합니다. -->
    <section id="comment" class="comment section-bg">
      <div class="container" data-aos="fade-up">
        <div class="section-header" id="a4comment">
          <h2>응원 메시지 남기기</h2>
          <form method="POST" action="/comment">
            <div class="form-group row">
              <div class="col">
                <input type="text" class="form-control" name="writer" id="writer" placeholder="Enter name" required>
              </div>
              <div class="col">
                <input type="text" class="form-control" name="title" id="title" placeholder="Enter title" required>
              </div>
            </div>
            <div class="form-row">
              <div class="form-check form-check-inline">
                <input class="form-check-input" name="star" type="radio" id="inlineRadio1" value=1 required>
                <label class="form-check-label" for="inlineRadio1">⭐</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" name="star" type="radio" id="inlineRadio2" value=2>
                <label class="form-check-label" for="inlineRadio2">⭐⭐</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" name="star" type="radio" id="inlineRadio3" value=3>
                <label class="form-check-label" for="inlineRadio3">⭐⭐⭐</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" name="star" type="radio" id="inlineRadio4" value=4>
                <label class="form-check-label" for="inlineRadio4">⭐⭐⭐⭐</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" name="star" type="radio" id="inlineRadio5" value=5>
                <label class="form-check-label" for="inlineRadio5">⭐⭐⭐⭐⭐</label>
              </div>
            </div>
            <div class="form-row">
              <textarea class="form-control" name="comment" id="comment" rows="3" required></textarea>
              <small id="commenthelp" class="form-text text-muted">위로와 칭찬은 서로에게 더 좋은 영감을 줍니다.</small>
            </div>
            <input type="submit" class="btn btn-primary">
        </div>
        </form>
      </div>

      <!-- DB에서 모든 댓글 정보들을 가져와 예시 형태로 바꿔줍니다.  -->

      <div class="slides-2 swiper">
        <div class="swiper-wrapper">
          {% for comment in comments %}
          <div class="swiper-slide">
            <div class="testimonial-wrap">
              <div class="testimonial-item">
                <h3>{{comment.name}}</h3>
                <h4>{{comment.title}}</h4>
                <div class="stars">
                  {% for i in range(comment.star) %}
                  <i class="bi bi-star-fill"></i>
                  {% endfor %}
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  {{comment.comment}}
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div>
          </div>
          {% endfor %}
          <!-- 여기서 부터 -->
          <!-- <div class="swiper-slide">
            <div class="testimonial-wrap">
              <div class="testimonial-item">
                <h3>Saul Goodman</h3>
                <h4>Ceo &amp; Founder</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                    class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium
                  quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div>
          </div> -->
          <!-- 여기까지가 하나의 댓글 디스플레이 입니다. 백엔드에서 GET을 통해 DB에 있는 댓글들을 해당 형태로 리턴하여 출력하도록 할 생각입니다. -->
        </div>
        <div class="swiper-pagination mt-5"></div>
      </div>

      </div>
    </section>
    <!-- End comment Section -->

  </main>

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-content position-relative">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>A4 용지</h3>
              <p>
                A-4조 A4 용지되다 <br>
                개발자를 꿈꾸는 사람들<br><br>
                <strong>팀장:</strong> 김은수<br>
                <strong>팀원:</strong> 김성광 배현아 유혜민 이윤성<br>
              </p>
              <div class="social-links d-flex mt-3">
                <a href="#" onclick="clip(); return false;" id="sns_urlcopy"
                  class="d-flex align-items-center justify-content-center">url</a>
              </div>
            </div>
          </div><!-- End footer info column-->

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Menu</h4>
            <ul>
              <li><a href="#">홈</a></li>
              <li><a href="#a4member">멤버 소개</a></li>
              <li><a href="#a4comment">응원 메시지</a></li>
            </ul>
          </div><!-- End footer links column-->

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>멤버 소개</h4>
            <ul>
              <li><a href="#">김은수</a></li>
              <li><a href="#">김성광</a></li>
              <li><a href="#">배현아</a></li>
              <li><a href="#">유혜민</a></li>
              <li><a href="#">이윤성</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>응원 메시지</h4>
            <ul>
              <li><a href="#a4comment">응원보기</a></li>
              <li><a href="#">응원하기</a></li>
            </ul>
          </div><!-- End footer links column-->

        </div>
      </div>
    </div>

    <div class="footer-legal text-center position-relative">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>A4용지</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/upconstruction-bootstrap-construction-website-template/ -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
    </div>

  </footer>
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>
